.emptyPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 88px);
  gap: 32px;

  &__image-wrapper{
    width: 241px;
    height: 231px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #343a40;
  }

  &__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 155%;
    color: #3b7cd3;
    padding: 10px 24px;
    background-color: #DEECFF;
  }
}
