.vacancyDescription {
  padding: 24px;
  background: #ffffff;
  display: flex;
  height: 100%;

  b {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #232134;
    margin-bottom: 16px;
    display: block;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #232134;
    margin-bottom: 10px;
    display: block;
  }

  br {
    display: none;
  }

  ul {
    margin-bottom: 20px;
    li {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #232134;
      position: relative;
      list-style: disc;
      margin-left: 30px;
    }
  }
}
