.header {
  background-color: #ffffff;

  &__inner {
    padding: 24px 0;
    display: flex;
    align-items: center;
    gap: 280px;

    @media (max-width: 768px) {
      gap: 20px;
      justify-content: space-between;
    }

    @media (max-width: 620px) {
      flex-direction: column;
    }
  }
}
